<br>
<div class="container" style="width: 900px;margin: auto; background-color: #F0F2F4; height: auto;">
    <br>
    <!-- Extend -->
    <div style="background-color: #F0F2F4; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
        <h2 style="float: left;background-color: #F0F2F4;">SỬA KHOẢN CHI MIỄN GIẢM</h2>
        <div style="background-color: #F0F2F4; text-align: right;">
            <button mat-raised-button [routerLink]="['/khoanchimiengiam']"><span class="material-icons">close</span></button>
        </div>
    </div>
    <br>
    <div style="background-color: #FFFFFF; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
        <br><br>
        <div style="padding-left: 100px;">
            <form [formGroup]="editForm">
                <mat-form-field appearance="outline" style="width: 700px;">
                    <mat-label style="font-size: x-large;">Tên Khoản chi miễn giảm<a style="color: red;">*</a></mat-label>
                    <input matInput placeholder="Nhập tên Khoản chi miễn giảm!" style="width: 680px;" type="text" formControlName="TenKhoanChiMienGiam">
                    <mat-error *ngIf="TenKhoanChiMienGiam.untouched || TenKhoanChiMienGiam.invalid"> Nhập <strong>tên khoản chi miễn giảm</strong>! </mat-error><br>
                    <mat-error *ngIf="errorHandling('TenKhoanChiMienGiam', 'minlength')"> <strong>Tên khoản chi miễn giảm</strong> ít nhất 6 ký tự! </mat-error>
                </mat-form-field>
                <br><br>
                <mat-form-field appearance="outline" style="width: 700px;">
                    <mat-label style="font-size: x-large;">Khoản chi<a style="color: red;">*</a></mat-label>
                    <mat-select style="width: 680px;" placeholder="Chọn khoản chi!" formControlName="IdKhoanChi">
                        <mat-option [value]="i.id" *ngFor="let i of ItemsArray">{{i.tenKhoanChi}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="IdKhoanChi.untouched || IdKhoanChi.invalid"> Chọn <strong>khoản chi</strong>!</mat-error>
                </mat-form-field>
                <br><br>
                <mat-form-field appearance="outline" style="width: 700px;">
                    <mat-label style="font-size: x-large;">Số tiền miễn giảm<a style="color: red;">*</a></mat-label>
                    <input matInput placeholder="Nhập số tiền miễn giảm!" style="width: 680px;" type="number" formControlName="SoTienMienGiam">
                    <mat-error *ngIf="SoTienMienGiam.untouched || SoTienMienGiam.invalid"> Nhập <strong>số tiền miễn giảm</strong>! </mat-error><br>
                </mat-form-field>
                <br><br>
                <mat-form-field appearance="outline" style="width: 700px;">
                    <mat-label style="font-size: x-large;">Ghi chú</mat-label>
                    <textarea matInput placeholder="Viết gì đó!" style="width: 680px;" formControlName="GhiChu"></textarea>
                </mat-form-field>
            </form>
            <div align="center">
                <button mat-raised-button type="button" (click)="onSubmit(Id)" color="add"><span class="material-icons" style="color: blueviolet;">brightness_high</span></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-raised-button [routerLink]="['/khoanchimiengiam']" color="warn"><span class="material-icons" style="color: blueviolet;">backspace</span></button>
            </div>
        </div>
        <br>
    </div>
</div>