<br>
<div class="container" style="width: 900px;margin: auto; background-color: #F0F2F4; height: auto;">
    <br>
    <!-- Extend -->
    <div style="background-color: #F0F2F4; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
        <h2 style="float: left;background-color: #F0F2F4;">THÊM KHOẢN CHI</h2>
        <div style="background-color: #F0F2F4; text-align: right;">
            <button mat-raised-button [routerLink]="['/khoanchi']"><span class="material-icons">close</span></button>
        </div>
    </div>
    <br>
    <div style="background-color: #FFFFFF; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
        <br><br>
        <div style="padding-left: 80px;">
            <form [formGroup]="addForm">
                <mat-form-field appearance="outline" style="width: 700px;">
                    <mat-label style="font-size: x-large;">Tên khoản chi<a style="color: red;">*</a></mat-label>
                    <input matInput placeholder="Nhập tên khoản chi!" style="width: 680px;" formControlName="TenKhoanChi">
                    <mat-error *ngIf="TenKhoanChi.untouched || TenKhoanChi.invalid"> Nhập <strong>tên khoản chi</strong>! </mat-error><br>
                    <mat-error *ngIf="errorHandling('TenKhoanChi', 'minlength')"> <strong>Tên khoản chi</strong> ít nhất 6 ký tự! </mat-error>
                </mat-form-field>
                <br><br>
                <mat-form-field appearance="outline" style="width: 700px;">
                    <mat-label style="font-size: x-large;">Loại khoản chi</mat-label>
                    <mat-select style="width: 680px;" placeholder="Chọn loại khoản chi đi!" formControlName="IdLoaiKhoanChi">
                        <mat-option [value]="i.id" *ngFor="let i of ItemsArray">{{i.tenLoaiKhoanChi}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="IdLoaiKhoanChi.untouched || IdLoaiKhoanChi.invalid"> Chọn <strong>loại khoản chi</strong>!</mat-error>
                </mat-form-field>
                <br><br>
                <div>
                    <mat-form-field appearance="outline" style="width: 200px;">
                        <mat-label style="font-size: x-large;">Thứ tự</mat-label>
                        <input matInput placeholder="Nhập số thứ tự!" style="width: 180px;" type="number" formControlName="ThuTu">
                    </mat-form-field>
                    <mat-radio-group style="padding-left: 80px;" formControlName="SuDung">
                        <mat-radio-button style="padding-top: 13px;" value="true">Sử dụng</mat-radio-button>
                        <mat-radio-button value="false">Không sử dụng</mat-radio-button>
                    </mat-radio-group>
                </div>
                <br><br>
            </form>
            <div align="center">
                <button mat-raised-button type="button" (click)="onSubmit()" color="add"><span class="material-icons" style="color: blueviolet;">add</span></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-raised-button [routerLink]="['/khoanchi']" color="warn"><span class="material-icons" style="color: blueviolet;">backspace</span></button>
            </div>
        </div>
        <br><br>
    </div>
</div>