<br>
<div class="container" style="width: 900px;margin: auto; background-color: #F0F2F4; height: auto;">
    <br>
    <!-- Extend -->
    <div style="background-color: #F0F2F4; padding-top: 5px; padding-left: 20px; padding-right: 20px;">
        <h2 style="float: left;background-color: #F0F2F4;">THÊM MỚI HOÀN PHÍ</h2>
        <div style="background-color: #F0F2F4; text-align: right;">
            <button mat-raised-button class="buttoncustom" style="font-size: x-large;">X</button>
        </div>
    </div>
    <br>
    <div style="background-color: #FFFFFF; padding-top: 10px; padding-left: 20px; padding-right: 20px;" align="center">
        <br><br>
        <div >
            <mat-form-field appearance="outline" style="width: 700px;">
                <mat-label style="font-size: x-large;">Loại khoản chi<a style="color: red;">*</a></mat-label>
                <input matInput placeholder="Placeholder" style="width: 680px;">
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" style="width: 700px;">
                <mat-label style="font-size: x-large;">Tên khoản chi<a style="color: red;">*</a></mat-label>
                <input matInput placeholder="Placeholder" style="width: 680px;">
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" style="width: 700px;">
                <mat-label style="font-size: x-large;">Số tiền miễn giảm<a style="color: red;">*</a></mat-label>
                <input matInput placeholder="Placeholder" style="width: 680px;" type="number">
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" style="width: 700px;">
                <mat-label style="font-size: x-large;">Ghi chú</mat-label>
                <textarea matInput placeholder="Type sth" style="width: 680px;" type="text"></textarea>
            </mat-form-field>
            <br>

            <br>
            <div align="center">
                <button mat-raised-button class="buttoncustom">Lưu và đóng</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-raised-button class="buttoncustom">Đóng</button>
            </div>
        </div>
        <br>
    </div>
</div>