<br>
<div class="container" style="width: 1500px;margin: auto; background-color: #F0F2F4; height: auto;">
    <br>
    <!-- Extend -->
    <div style="background-color: #F0F2F4; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
        <h2 style="float: left;background-color: #F0F2F4;">THÔNG TIN PHIẾU THU</h2>
        <div style="background-color: #F0F2F4; text-align: right;">
            <button mat-raised-button [routerLink]="['/danhsachphieuthu']" style="font-size: x-large;">X</button>&nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <br>

    <div style="float: left; width: 1000px;">
        <div style="padding-left: 20px; padding-right: 20px;"> 
            <h3>Danh sách các khoản thu</h3>
            <table mat-table [dataSource]="test" class="mat-elevation-z8 table-style-three">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element "> {{element.id}} </td>
                    <td mat-footer-cell *matFooterCellDef> Total </td>
                </ng-container>

                <ng-container matColumnDef="tenkhoanthucodinh">
                    <th mat-header-cell *matHeaderCellDef> Tên khoản thu cố định </th>
                    <td mat-cell *matCellDef="let element"> {{element.tenKhoanThuCoDinh}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="soluong1">
                    <th mat-header-cell *matHeaderCellDef> Số lượng 1 </th>
                    <td mat-cell *matCellDef="let element"> {{element.soLuong1}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="tenkhoanthudichvu">
                    <th mat-header-cell *matHeaderCellDef> Tên khoản thu dịch vụ </th>
                    <td mat-cell *matCellDef="let element"> {{element.tenKhoanThuDichVu}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="soluong2">
                    <th mat-header-cell *matHeaderCellDef> Số lượng 2 </th>
                    <td mat-cell *matCellDef="let element"> {{element.soLuong2}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="tenKhoanthubanhang">
                    <th mat-header-cell *matHeaderCellDef> Tên sản phẩm </th>
                    <td mat-cell *matCellDef="let element"> {{element.tenKhoanThuBanHang}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="soluong3">
                    <th mat-header-cell *matHeaderCellDef> Số lượng 3 </th>
                    <td mat-cell *matCellDef="let element"> {{element.soLuong3}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="hinhthucthu">
                    <th mat-header-cell *matHeaderCellDef> Hình thức thu </th>
                    <td mat-cell *matCellDef="let element"> {{element.tenHinhThucThu}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="thanhtien">
                    <th mat-header-cell *matHeaderCellDef> Thành tiền </th>
                    <td mat-cell *matCellDef="let element"> {{element.thanhTien | currency:'VND':"symbol"}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency:'VND':"symbol"}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns1"></tr>
            </table>
            <br>
        </div>

        <div style="padding-left: 20px; padding-right: 20px;">
            <h3>Danh sách các khoản khấu trừ</h3>
            <table mat-table [dataSource]="test" class="mat-elevation-z8 table-style-three">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    <td mat-footer-cell *matFooterCellDef> Total </td>
                </ng-container>

                <ng-container matColumnDef="tenkhoanchimiengiam">
                    <th mat-header-cell *matHeaderCellDef> Tên khoản chi miễn giảm </th>
                    <td mat-cell *matCellDef="let element"> {{element.tenKhoanChiMienGiam}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="sotienmiengiam">
                    <th mat-header-cell *matHeaderCellDef> Số tiền miễn giảm </th>
                    <td mat-cell *matCellDef="let element"> {{element.khauTru | currency:'VND':"symbol"}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{getTotalReduce() | currency:'VND':"symbol"}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns2"></tr>
            </table>
            <br>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <br><br>
    <div style="float: left; width: 350px; border: black; shape-outside: border-box; border-width: medium; border-style: groove;">
        <br><br>
        <h2 style="text-align: center;">Thông tin học sinh</h2>
        <div>
            <div *ngFor="let i of detailHocSinh">
                <div>
                    <h4 style="float: left;padding-top: 10px; padding-right: 10px; padding-left: 20px">Mã học sinh</h4>
                    <h4 style="padding-top: 10px; padding-right: 20px; padding-left: 10px; float: right;">{{i.id}}</h4>
                </div><br><br><br>
                <div>
                    <h4 style="float: left;padding-top: 10px; padding-right: 10px; padding-left: 20px">Tên học sinh</h4>
                    <h4 style="padding-top: 10px; padding-right: 20px; padding-left: 10px; float: right;">{{i.tenHocSinh}}</h4>
                </div><br><br><br>
                <div>
                    <h4 style="float: left;padding-top: 10px; padding-right: 10px; padding-left: 20px">Ngày sinh</h4>
                    <h4 style="padding-top: 10px; padding-right: 20px; padding-left: 10px; float: right;">{{i.ngaySinh | date:'dd'}}/{{i.ngaySinh | date:'MM'}}/{{i.ngaySinh | date:'yyyy'}}</h4>
                </div><br><br><br>
                <div>
                    <h4 style="float: left;padding-top: 10px; padding-right: 10px; padding-left: 20px">Giới tính</h4>
                    <h4 style="padding-top: 10px; padding-right: 20px; padding-left: 10px; float: right;">{{i.gioiTinh}}</h4>
                </div><br><br><br>
                <div>
                    <h4 style="float: left;padding-top: 10px; padding-right: 10px; padding-left: 20px">Tên lớp học</h4>
                    <h4 style="padding-top: 10px; padding-right: 20px; padding-left: 10px; float: right;">{{i.tenLop}}</h4>
                </div><br>
            </div>
        </div>
        <br><br>
        <hr>
        <h2 style="text-align: center;">Thông tin hóa đơn</h2>
        <div>
            <div>
                <div>
                    <h4 style="float: left;padding-top: 10px; padding-right: 10px; padding-left: 20px">Tổng tiền</h4>
                    <h4 style="padding-top: 10px; padding-right: 20px; padding-left: 10px; float: right;">{{getTotalCost() | number}}</h4>
                </div><br><br><br>
                <div>
                    <h4 style="float: left;padding-top: 10px; padding-right: 10px; padding-left: 20px">Khấu trừ</h4>
                    <h4 style="padding-top: 10px; padding-right: 20px; padding-left: 10px; float: right;">{{getTotalReduce() | number}}</h4>
                </div><br><br><br>
                <div>
                    <h4 style="float: left;padding-top: 10px; padding-right: 10px; padding-left: 20px">Đã trả</h4>
                    <h4 style="padding-top: 10px; padding-right: 20px; padding-left: 10px; float: right;">{{getMustPay() | number}}</h4>
                </div><br><br><br>
            </div>
        </div>
    </div>
</div>
